<!--
{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
   <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://bsky.app/intent/compose?text={{ base_path }}{{ page.url }}" class="btn btn--bluesky"><i class="fab fa-bluesky"></i> Bluesky</a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook"><i class="fab fa-facebook"></i> Facebook</a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin"><i class="fab fa-linkedin"></i> LinkedIn</a>
  <a href="https://x.com/intent/post?text={{ base_path }}{{ page.url }}" class="btn btn--x"><i class="fab fa-x-twitter"></i> X</a>
</section>
-->
